<div class="container-fluid">
  <!-- display message if user is not logged in -->
  <div class="col-sm-12 ng-hide text-center" ng-hide="guestsList.userIsLoggedIn">
      <div class="panel panel-default">
          <div class="panel-heading text-center">
                <p>Login Required</p>
          </div>
          <div class="panel-body">
            <div class="guests-info-box">
              <h1> Please Log In with your account or Sing Up to manage party information </h1>

            </div>
          </div>
      </div>
  </div>

    <div class="row" ng-show="guestsList.userIsLoggedIn">
    <div class="col-sm-12 ">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                  <p>Party Info</p>
            </div>
            <div class="panel-body">
              <div class="guests-info-box">
                <p><strong>Guests Invitations:</strong> {{guestsList.guestsCounter.totalGuestsInvited}}</p>
                <p><strong>Total Guests:</strong> {{guestsList.guestsCounter.totalGuests}}</p>
              </div>
            </div>
        </div>
    </div>

      <div class="col-sm-12 col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading text-center">
                <a data-toggle="collapse"  role="button" href="#guest-add"
                    aria-expanded="false" aria-controls="guest-add">Add New Guest
                  </a>
              </div>
              <div id="guest-add" class="collapse panel-body">
                <guest-add></guest-add>
              </div>
          </div>
        </div>
        <!--
        <div class="alert alert-warning" role="alert" ng-hide="guestsList.isLoggedIn">
          <strong>Warning!</strong>
          Log in to create a guest!
        </div>
      -->

      <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><p>Guests List</p></div>
            <div class="panel-body">
              <div class="ng-hide text-center" ng-hide="guestsList.guestsCounter.totalGuests">
                <h3 > No Guests On List</h3>
                <p> Click <i> Add New Guest </i> to add guests</p>
              </div>

              <div class="ng-show" ng-show="guestsList.guestsCounter.totalGuests">
              <input type="search" ng-model="guestsList.searchText" placeholder="Search Guest" />
              <div class="table-responsive">
                <table class="table table-hover scroll">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Table #</th>
                      <th>Guests</th>
                      <!-- <th> Delete </th> -->
                      <!-- <th>CheckedIn </th> -->
                      <!--
                      <th>Contact Phone</th>
                      <th>Checked In</th>
                      <th>Party Name</th>
                      <th>Confirmed</th>
                    -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr ui-sref="guestDetails({ guestId: guest._id })" ng-repeat='guest in guestsList.guests'>
                      <td> {{guest.name}} </td>
                      <td>{{guest.table}}</td>
                      <td>{{guest.allowedGuests}}</td>
                      <!-- <td>{{guest.checkedIn}} False </td> -->
                      <!--
                      <td>{{guest.contact}}</td>
                      <td>{{guest.partyId}}</td>
                      <td>{{guest.isConfirmed}}</td>
                     -->
                    </tr>
                  </tbody>
                </table>
              </div>
          </div> <!-- ng-show wrapper -->
            </div> <!-- end panel body -->
        </div> <!-- end panel -->
    </div>
  </div>
</div>
