footer{
  color: #ffffff;
  text-align: center;
}
html, body{
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.content{
  margin-top: 100px;
  margin-bottom: 50px;

}

.navbar{
  opacity: 50%;
  background-color: #263238;
  padding: 1rem 0;

}
.nav-btn{
  background-color: #FF80AB;
  color: white !important;
  opacity: 90%;
}

.sec-btn{
  background-color:#FF80AB ;
  color: #ffffff;
  opacity: 90%;
  margin-bottom: 10px;
}

.panel-heading{
  background-color: #607d8B !important;
  color: white !important;
}
