header, footer{
  background-color: #3F51B5;
  color: #ffffff;
  text-align: center;
  padding: 2rem 0;
}
html, body{
  margin: 0;
  padding: 0;
}

.content{
  margin-top: 130px;
  margin-left: 4px;
  margin-bottom: 50px;

}
.nav-btn{
  background-color:  #ff4081;
  color: #ffffff;
  opacity: 54%;
}
.sec-btn{
  background-color:#FF80AB ;
  color: #ffffff;
  opacity: 90%;
  position: relative;
}

.panel-heading{
  background-color: #5c6bc0 !important;
  color: white !important;
}
