<form class="form text-center" role="form">
  <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <label>Guest Name: </label>
        <input placeholder="Enter guest name " class="form-input" type="text" ng-model="guestAdd.guest.name" required/>
      </div>
  </div>
  <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <label>Allowed Guests: </label>
        <input placeholder="Select allowed guests" class="form-input" type="number" ng-model="guestAdd.guest.allowedGuests" required/>
    </div>
  </div>
    <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <label class="label-control">Guest Table: </label>
        <input placeholder="Enter Guest Table" type="number"  class="form-input" ng-model="guestAdd.guest.table" required/>
      </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <label class="label-control">Contact Number: </label>
      <input type="text"  placeholder="Enter guest number" class="form-input" ng-model="guestAdd.guest.contact" required/>
    </div>
  </div>
  <button class="form-btn" ng-click="guestAdd.submit()">Add Guest </button>
</form>
