partyzer{
  @seconday-color: #68EFAD;
  @primary-color: #691A99;
  .gradients {
    background-color: @seconday-color;
    background: linear-gradient(top, @seconday-color, @primary-color);
    background: -webkit-linear-gradient(top, @seconday-color, @primary-color);
    background: -moz-linear-gradient(top, @seconday-color, @primary-color);
  }

  header{
    padding: 10px;
    background-color: @primary-color;
    border-bottom: 5px solid @seconday-color !important;
    width: 100%;
  }
  footer{
    margin-top: 30px;
    text-align: center;
    opacity: 50%;
    background-color: @primary-color;
    border-top: 5px solid @seconday-color !important;
    color: #FFF;
    padding: 25px !important;
    font-size: 1.5em;
  }
  button{
    margin: 0 auto;
    background-color: @seconday-color;
    background: linear-gradient(top, @seconday-color, @primary-color);
    background: -webkit-linear-gradient(top, @seconday-color, @primary-color);
    background: -moz-linear-gradient(top, @seconday-color, @primary-color);
    border: 2px solid #691A97;
    border-radius: 3px;
    max-width: 250px;
    padding: 20px;
    color: #FFF;
    box-shadow: inset 0 1px 0 0 #9fd574;
    text-shadow: 0 -1px 0 #396715;
    font-size: 1.3em;
  }
  button:hover{
    opacity: .85;
    cursor: pointer;
  }
  button:disabled{
       background: #dddddd;

  }
  .login-button{
    .gradients !important;
  }
  .form-group{
    padding: 5px;
    margin-top: 3px;
    display: inline-block;
    display: -moz-inline-block;
    margin: 0 auto;
  }
  .form-input{
    height: 50px;
    border-radius: 3px;
    color: black;

  }

  .form-input:focus{
    outline: none;
    border: 1px solid #68EFAD;
    box-shadow: 0 0 3px #aaa;
  }

  label{
    max-width: 150px;
    display: inline-block;
    display: -moz-inline-block;
    padding: 5px 8px;
    font-size: 1em !important;
    font-weight: bold;
  }
  .page-content{
    margin-bottom: 40px;
  }
  .fa-trash{
    font-size: 30px;
  }
  .fa-trash:hover{
      cursor: pointer;
  }

  .details-content{
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 3em;
  }
  .back-btn{
    background-color: #68EFAD;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    text-shadow: 0 -1px 0 #396715;
    font-weight: bold;
  }
  .well{
      background-color: #FFF;
      padding: 6em;
  }
  .form-group label{
    display: block;
  }
  a{
    color: inherit;
  }
  a:hover{
    color: @seconday-color;
  }
}


@import "../navigation/navigation.less";
@import "../guestAdd/guestAdd.less";
@import "../guestsList/guestsList.less";
@import "../guestDetails/guestDetails.less";
